@font-face{
	font-family: 'FactorA';
	src: url('../target_quests/fonts/Factor-A-Regular-Web.woff');
  font-weight: 400;
}

@font-face{
	font-family: 'FactorA';
	src: url('/fonts/Factor-A-Bold-Web.woff');
  font-weight: 600;
}

body{
  min-height: 100vh;
  background-color: #F0EEFB;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  min-width: 360px;
}

header{
  height: 48px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 32px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marathon{
  width: 824px;
  height: 188px;
  background: #289FDC;
  border-radius: 16px;
  margin-bottom: 32px;
}

.quests__wrapper{
  display: flex;
  flex-direction: column;
  gap:0;
  align-items: center;
}

/* Tabs */
.quests__tabs{
  font-family: 'FactorA', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  align-self: flex-start;
}

.quests__tabs_list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.quests__tabs-item{
  padding: 16px 20px 8px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(47, 47, 69, 0.6);
  border-radius: 16px 16px 0px 0px;
}

.quests__tabs-item-zavr{
  background-color: #C5E9FD;
}

.quests__tabs-item_state_active{
  padding: 16px 20px 8px;
  background-color: rgba(255, 255, 255, 1);
  color: #2F2F45;;
}

/* Tabs  End*/

.quests{
  box-sizing: border-box;
  width: 824px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 32px;
  background: #FFFFFF;
  border-radius: 0 32px 32px 32px;
}

/* Всё за день */

.quests__all-for-the-day{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

.all-for-the-day__content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.all-for-the-day__header{
  margin: 0;
  padding: 0;
  font-family: 'FactorA', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.progress-bar{
  height: 6px;
  width: 100%;
  background: #87D34C;
  border-radius: 12px;
}


.quests__daily-wrapper{
  display: flex;
  flex-direction: row;
  gap:32px;
  align-items: stretch;
}

/* Карточка квеста */

.quests__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  width: 33%;
}

.card__content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card__content-header{
  margin: 0;
  padding: 0;
  font-family: 'FactorA', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;  
  overflow-wrap: break-word;
  display: inline-block;
  word-break: break-word;
}

.card__content-btn{
  border: none;
  padding: 0;
  margin: 0;
  height: 48px;
  background: #765FDE;
  border-radius: 16px;
  font-family: 'FactorA', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.card__content-btn_type_secondary{
  background: #EAE6FF;
  color: #765FDE;
}

.card__content-btn_type_done{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background: transparent;
  color: rgba(47, 47, 69, 0.4);
  border: 1px solid rgba(47, 47, 69, 0.4);
}

/* КАРТОЧКИ ПРЕДМЕТОВ */

.subjects__wrapper{
  max-width: 824px;
  margin: 24px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.subject__card {
  width: 248px;
  height: 248px;
  background-color: #fff;
  border-radius: 32px;
}

.subject__card_column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.subject__card_img{
  background-image: url('./imgs/cover-space.png');
  background-size: cover;
  background-position: center;
}

.card__text {
  font-family: 'FactorA', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(9, 21, 38, 0.85);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8px;
}


@media screen and (max-width: 900px) {
  .marathon{
    width: 100%;
  }

  .quests__wrapper{
    width: 100%;
  }

  .quests{
    width: 100%;
  } 

  main{
    padding: 0 36px;
  }

  .subject__card {
    width: calc(100vw / 3 - 48px);
    height: calc(100vw / 3 - 48px);
  }

  .card__content {
    gap: 12px;
  }

}

@media screen and (max-width: 767px) {
  .marathon{
    margin: 0;
    margin-bottom: 24px;
    border-radius: 0;
  }

  main{
    padding: 0;
  }

  .quests__tabs{
    font-size: 16px;
    line-height: 20px;
    align-self: center;
  }

  .quests{
    margin: 0;
    padding: 24px 16px;
    border-radius: 0;
  }

  .quests__daily-wrapper{
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }

  .card__content-header{
    font-size: 14px;
    line-height: 18px;
  }

  .quests__card {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .card__content{
    width: 100%;
    justify-content: space-between;
    gap: 16px;
  }
  .card__content-btn{
    width: 152px;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
  }

  .card__content-btn_type_done{
    gap: 0;
  }

  .subjects__wrapper{
    gap: 24px;
  }

  .subject__card {
    width: calc(100vw / 3 - 32px);
    height: calc(100vw / 3 - 32px);
  }

  .card__text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 639px) {
  .subjects__wrapper{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  
  .subject__card {
    width: calc(100vw / 2 - 32px);
    height: calc(100vw / 2 - 32px);
    border-radius: 24px;
  }
}

@media screen and (max-width: 479px) {
  .marathon{
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
    border-radius: 0;
  }

  .quests{
    padding: 16px;
  }

  .subjects__wrapper{
    gap: 16px;
  }

  .subject__card {
    width: calc(100vw / 2 - 24px);
    height: calc(100vw / 2 - 24px);
    border-radius: 24px;
  }

  .card__text {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 412px) {
  .subject__card {
    border-radius: 24px;
  }
}